.root {
  display: flex;
  gap: 10px;
  padding-block: clamp(30px, 50px, 80px);
  li {
    display: inline-flex;
  }

  a {
    color: #fe5f1e;
    text-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid #fe5f1e;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-out;
    &:hover {
      background-color: #fe5f1e;
      color: whitesmoke;
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: whitesmoke;
      }
    }
  }
}
