.root {
  display: flex;
  gap: 10px;
  padding-block: clamp(30px, 50px, 80px);
  li {
    display: inline-flex;
  }

  a {
    color: $text_white;
    text-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid #fe5f1e;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-out;
    @include gradient-transition-invert($gradient, 50%);
    &:hover {
      border-color: transparent;
    }
  }

  // :global {
  .selected {
    a {
      border: none;
      background: $gradient;
      box-shadow: 0px 7.594px 33.75px 0px rgba(255, 107, 0, 0.06);
      color: whitesmoke;
      cursor: pointer;
    }
  }
  // }
}
