@import '../variables';

.pizza-block {
  width: 280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 260px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
    color: $text_white;
  }

  &__selector {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      gap: 40px;

      li {
        padding: 14px;
        border: 1px solid $text_lightgrey;
        border-radius: 50%;
        background-color: transparent;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        color: $text_white;
        position: relative;
        // @include noselect();
        @include gradient-transition-invert($gradient, 50%);
        &:hover {
          border: none;
        }
        &.active {
          background: $gradient;
          border: none;
          cursor: auto;
        }
      }
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__counter {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    button {
      color: $text_white;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid $text_white;
      position: relative;
      z-index: 1;
      @include gradient-transition-invert($gradient, 50%);
      &:hover {
        color: $text_white;
        border: none;
      }
    }
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
