$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$brown: #1d0800;

$gradient: linear-gradient(262deg, #ff5924 12.12%, #ffa229 86.72%);

$duration: 0.15s;

$lg: 1400;
$md2: 991.98;
$md3: 767.98;
$md4: 575.99;

$text_grey: #515151;
$text_lightgrey: #a3a3a3;
$text_white: #fefefa;
